<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget massa non ipsum faucibus aliquam. Donec aliquet molestie magna, eget porta elit lacinia in. Aliquam venenatis massa massa, quis efficitur enim laoreet eget. Suspendisse malesuada enim lacus, eu ullamcorper ipsum rutrum quis. Mauris maximus consectetur felis sit amet tempor. Duis bibendum fringilla sem, ut maximus ligula interdum at. Suspendisse blandit maximus tempor. Ut gravida odio tincidunt risus semper rutrum. Duis commodo a arcu vel tempus. Nunc faucibus faucibus orci sed vulputate. Vivamus elit odio, ullamcorper at iaculis eu, facilisis id tellus. Phasellus blandit fringilla augue sed facilisis. Donec sed fermentum arcu. Aenean sapien felis, tempor eu consequat at, condimentum quis dolor. Aenean egestas venenatis leo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget massa non ipsum faucibus aliquam. Donec aliquet molestie magna, eget porta elit lacinia in. Aliquam venenatis massa massa, quis efficitur enim laoreet eget. Suspendisse malesuada enim lacus, eu ullamcorper ipsum rutrum quis. Mauris maximus consectetur felis sit amet tempor. Duis bibendum fringilla sem, ut maximus ligula interdum at. Suspendisse blandit maximus tempor. Ut gravida odio tincidunt risus semper rutrum. Duis commodo a arcu vel tempus. Nunc faucibus faucibus orci sed vulputate. Vivamus elit odio, ullamcorper at iaculis eu, facilisis id tellus. Phasellus blandit fringilla augue sed facilisis. Donec sed fermentum arcu. Aenean sapien felis, tempor eu consequat at, condimentum quis dolor. Aenean egestas venenatis leo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget massa non ipsum faucibus aliquam. Donec aliquet molestie magna, eget porta elit lacinia in. Aliquam venenatis massa massa, quis efficitur enim laoreet eget. Suspendisse malesuada enim lacus, eu ullamcorper ipsum rutrum quis. Mauris maximus consectetur felis sit amet tempor. Duis bibendum fringilla sem, ut maximus ligula interdum at. Suspendisse blandit maximus tempor. Ut gravida odio tincidunt risus semper rutrum. Duis commodo a arcu vel tempus. Nunc faucibus faucibus orci sed vulputate. Vivamus elit odio, ullamcorper at iaculis eu, facilisis id tellus. Phasellus blandit fringilla augue sed facilisis. Donec sed fermentum arcu. Aenean sapien felis, tempor eu consequat at, condimentum quis dolor. Aenean egestas venenatis leo.</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>